body {
    display: flex;
    background-color: black;
    justify-content: center;
    padding: 40px;
}

main{
    display:flex;
}
.container{
    background-color: white;
    padding: 30px;
    width: 800px;
    height:400px;
}
.nut{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.dangnhap{
    background-color: grey;
    color: black;
    border-radius: 10px;
}

.noidung {
    width: 80%;
}
.noidung-trai{
    background-color: green;
}

.muc{
    display: flex;
    justify-content: space-evenly;
    color: Black;
    font-size: 14px;
    text-align: left;
}


.ten-duoi{
    margin: 20px;
}

.danhsach{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.GPT{
    width: 19%;
}

.GPT img{
    width: 100%;
}
